export REPO_ROOT="${PWD}"

# TODO: ditch wkhtmltopdf (and go back to pure nix flake)
export NIXPKGS_ALLOW_UNSUPPORTED_SYSTEM=1

use flake --impure
watch_dir nix

just _border
export POETRY_VIRTUALENVS_IN_PROJECT=true
just poetry-install

just _border
just help
just _border
