body{
  font-size: 90%;
}

h3, h1, ul, p {
  margin: 0px;
  font-size: 100%;
}

h3.job-line {
  border-bottom: 1px solid black;
}

h2.section-header{
  font-size: 130%;
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: #cccaff;
  padding: 2px;
}

.title {
  text-align: center
}

.title h1{
  font-size: 190%;
}

hr {
  margin-top: 2px;
  margin-bottom: 2px;
}

h3 {
  margin-bottom: 3px;
  margin-top: 3px;
}

.job-details, .date {
  font-weight: lighter;
}

.date {
  float: right;
}

ul {
  text-align: left;
  padding-left: 28px;
}

#skills-list {
  width: 90%;
}

img.icon-img {
  width: 18px;
  position: relative;
  top: 3px;
  margin-right: 4px;
}

code {
  margin-left: -5px;
  font-size: 110%;
  font-weight: bold;
}

