<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <div class="title">
      <h1>{{ name }}</h1>
      <p>
        {{ contact.email }} |
        <a href="{{ contact.linkedin.link }}"><img class="icon-img" src="data:;base64,{{ icon_file_to_base64_string(contact.linkedin.icon) }}">{{ contact.linkedin.handle }}</a> |
        <a href="{{ contact.github.link }}"><img class="icon-img" src="data:;base64,{{ icon_file_to_base64_string(contact.github.icon) }}">{{ contact.github.handle }}</a>
      </p>
    </div>

    <h2 class="section-header" id="summary">&gt;&gt; Summary</h2><hr>
    <p id="summary-p">{{ summary }}</p>

    <h2 class="section-header" id="experience">&gt;&gt; Experience</h2><hr>
    {% for job in experience %}
    <h3 class="job-line"><u>{{ job.title }}, <span class="job-details">{{ job.company }} ({{ job.location }})</span></u> <span class="date">{{ job.dates }}</span></h3>
    <ul>
      <li>{{ job.notes | join('</li>\n\t\t\t<li>') }}</li>
    </ul>
    {% endfor %}


    <h2 class="section-header">&gt;&gt; Skills <span id="skills-qualifier">(non-comprehensive)</span></h2><hr>
    <ul id="skills-list">
      <li><strong>Languages: </strong>{{ skills['main languages'] | join(', ') }}</li>
      <li><strong>Cloud infra ("I've terraformed it!"): </strong>{{ skills['cloud infra'] | join(', ') }}</li>
      <li><strong>Other technologies: </strong>{{ skills['main other technologies'] | join(', ') }}</li>
    </ul>

    <h2 class="section-header">&gt;&gt; Projects</h2><hr>
    {% for project in projects %}
    {% if not project.get("hidden-from-pdf",False) %}
    <h3>
      {% if 'link' in project %}
      <a href="{{ project.link }}">{{ project.name }}</a>
      {% else %}
      {{ project.name }}
      {% endif %}
      <span class="date">
        {{ project.dates }}
      </span>
    </h3>
    <ul>
      <li>{{ project.notes | join('</li>\n\t\t\t<li>') }}</li>
    </ul>
    {% endif %}
    {% endfor %}

    <h2 class="section-header" id="education">&gt;&gt; Education</h2><hr>
    <p>
      <strong>{{ education.school }}</strong> ({{education.graduation}}) {{ education['school titles'] | join(', ') }}
    </p>
    <ul>
      <li>{{ education.degree }}. GPA {{ education.gpa }}</li>
    </ul>
    <p>
      <strong>Notable Courses:</strong> {{ education['notable courses'] | join(', ') }}
    </p>

  </body>
</html>
