<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <div class="title">
      <h1>{{ name }}</h1>
      <p>
        {{ contact.email }} |
        <a href="{{ contact.linkedin.link }}"><img class="icon-img" src="data:;base64,{{ icon_file_to_base64_string(contact.linkedin.icon) }}">{{ contact.linkedin.handle }}</a> |
        <a href="{{ contact.github.link }}"><img class="icon-img" src="data:;base64,{{ icon_file_to_base64_string(contact.github.icon) }}">{{ contact.github.handle }}</a>
      </p>
    </div>

    <h2 class="section-header" id="summary">Summary</h2>
    <p id="summary-p">{{ summary }}</p>

    <h2 class="section-header" id="experience">Experience</h2>
    {% for job in experience %}
    <h3 class="job-line">{{ job.title }}, <span class="job-details">{{ job.company }} ({{ job.location }})</span> <span class="date">{{ job.dates }}</span></h3>
    <ul>
      <li>{{ job.notes | join('</li>\n\t\t\t<li>') }}</li>
    </ul>
    {% endfor %}


    <h2 class="section-header">Selected Skills</h2>

		<table id="skills-table">
			<tr>
				<td>
					<div class="skill-box">
						<h3>Languages</h3>
						<p>{{ skills['main languages'] | join(', ') }}</p>
					</div>
				</td>
				<td>
					<div class="skill-box">
						<h3>Kubernetes</h3>
						<p>{{ skills['kubernetes'] | join(', ') }}</p>
					</div>
				</td>
				<td>
					<div class="skill-box">
						<h3>Monitoring</h3>
						<p>{{ skills['monitoring'] | join(', ') }}</p>
					</div>
				</td>
			</tr>

			<tr>
				<td>
					<div class="skill-box">
						<h3>Cloud Platforms</h3>
						<p>{{ skills['cloud platforms'] | join(', ') }}</p>
					</div>
				</td>
				<td>
					<div class="skill-box">
						<h3>Infrastructure As Code</h3>
						<p>{{ skills['iac'] | join(', ') }}</p>
					</div>
				</td>
				<td>
					<div class="skill-box">
						<h3>CI / CD</h3>
						<p>{{ skills['ci/cd'] | join(', ') }}</p>
					</div>
				</td>
			</tr>

			<tr>
				<td colspan=2>
					<div class="skill-box">
						<h3>Cloud Resources ("I've terraformed it!")</h3>
						<p>{{ skills['cloud infra'] | join(', ') }}</p>
					</div>
				</td>
				<td>
					<div class="skill-box">
						<h3>Other</h3>
						<p>{{ skills['main other technologies'] | join(', ') }}</p>
					</div>
				</td>
			</tr>
		</table>

    <h2 class="section-header">Side Projects</h2>
    {% for project in projects %}
    {% if not project.get("hidden-from-pdf",False) %}
    <h3>
      {% if 'link' in project %}
      <a href="{{ project.link }}">{{ project.name }}</a>
      {% else %}
      {{ project.name }}
      {% endif %}
      <span class="date">
        {{ project.dates }}
      </span>
    </h3>
    <ul>
      <li>{{ project.notes | join('</li>\n\t\t\t<li>') }}</li>
    </ul>
    {% endif %}
    {% endfor %}

    <h2 class="section-header" id="education">Education</h2>
    <p>
      <strong>{{ education.school }}</strong> ({{education.graduation}}) {{ education['school titles'] | join(', ') }}
    </p>
    <ul>
      <li>{{ education.degree }}. GPA {{ education.gpa }}</li>
    </ul>
    <p>
      <strong>Notable Courses:</strong> {{ education['notable courses'] | join(', ') }}
    </p>

  </body>
</html>
